/* banner Swipper */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  background-image: url(../../../images/Banner/Swiper-Arrow/next-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(../../../images/Banner/Swiper-Arrow/previous-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--bgColorPrimary) !important;
}

.player-wrapper {
  width: auto; 
  height: auto; 
}
.react-player {
  padding-top: 56.25%; 
  position: relative;
}

.react-player > div {
  position: absolute;
}
