/* Animated Underline for Navbar*/
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-green {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--base-text-color), var(--base-text-color));
}

.link-underline:hover {
  color: var(--base-text-color);
  background-size: 100% 2px;
  background-position: 0 100%;
}
.link-underline-active {
  color: var(--base-text-color);
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--base-text-color), var(--base-text-color));
  background-size: 100% 2px;
}
