* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(--scheme-based-bg-color);
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}
body {
  width: 100%;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-image: url(./images/cross.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px 0px 0px 0px solid #40aa54;
  -webkit-text-fill-color: #2f3b34;
  -webkit-box-shadow: 0 0 0px 0px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* for phone number input field */
input#phone {
  background-color: transparent;
}
input#phone:focus {
  outline: none;
}

/* firefox */
@supports (scrollbar-color: var(--thumbBG) var(--scrollbarBG)) {
  * {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    scrollbar-width: auto;
  }
}

.custom-img {
  background-image: url("./images/grocery.png");
}
