* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animated Underline */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-red {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f96062, #f96062);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

/* Swipper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  background-image: url(./images/next-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(./images/previous-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #f96062 !important;
}

@media (min-width: 768px) {
  .swiper-button-next {
    display: none !important;
    background: none !important;
  }
  .swiper-button-prev::after{
    display: none;
  }
}
