.feature-card-background{
    position: relative;
    z-index: 1;
  }
  
  .feature-card-background::after {
    content: "";
    height: 310px;
    width: 267px;
    position: absolute;
    background-color: #40AA54;
    border: #40AA54;
    border-radius: 0.5rem;
    transform: translate(20px, -291px) rotate(-5deg);
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }
  
  .feature-card-background:hover::after {
    transform: translate(20px, -291px) rotate(-5deg) scaleX(1.1) scaleY(1.1);
  }
  
  /* Feature Section for Mobile */
  @media (max-width: 768px) {
    .feature-card-background {
      position: relative;
    }
  
    .feature-card-background::after {
      content: "";
      height: 301px;
      width: 321px;
      display: inline-block;
      background-color: #40AA54;
      border: #40AA54;
      border-radius: 0.5rem;
      transform: translate(26px, -291px) rotate(5deg);
      position: absolute;
      z-index: -1;
    }
  }
  